body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f6f9ff;
    background-image: url("./images/bennett.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #1a237e;
    color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffeb3b;
}

.container {
    width: 60%;
    margin: 40px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.container:hover {
    transform: scale(1.01);
}

.form-header h1 {
    margin: 0 0 5px;
    text-align: center;
    color: #1a237e;
}

.form-header p {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    color: #333;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: 0.3s;
}

input:focus,
select:focus {
    border-color: #1a237e;
    box-shadow: 0 0 8px rgba(26, 35, 126, 0.3);
}


.submit-btn {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: #1a237e;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.4s;
}

.submit-btn:hover {
    background: #303f9f;
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}